<div class="container m-5">
    <div class="row">
        <div class="col-sm-6">
            <form #f="ngForm">
                <label class="form-label" >bookname</label>
                <input class="form-control" name="hen" [(ngModel)]="bookname" required >

                 <label class="form-label" for="#author" >author</label>
                <input type="text" class="form-control" name="author" [(ngModel)]="author" required>
               <label class="form-label" for="#price">price</label>
                <input  class="form-control" type="number" name="price" [(ngModel)]="price" required >
                


                <label class="form-label" for="#imgsrc">image sourse</label>
                <input type="text" class="form-control" type="text" name="imagesrc" [(ngModel)]="image" required>
            
          
    

                <button type="button" id="add" class="btn btn-success" (click)="addbook()" [disabled]="!f.valid" >submit</button>
           </form>
        </div>
        <div class="col sm-5">
        <div *ngFor="let x of list">
          <ul>
              <li>name:{{x.name}}</li>
              <li>author:{{x.author}}</li>
              <li>price:{{x.price}}</li>
           
              <li>image sourse:{{x.imgSrc}}</li>
          </ul>
        
             
        </div>
        </div>
    </div>
</div>