<div class="container m-5">
    <div class="row">
        <div class="col-sm-6">
            <form [formGroup]="bookref" (ngSubmit)="addbook()">
             <label class="form-label">name</label>
             <input type="text" class="form-control" formControlName="name" >
             <label class="form-label">author</label>
             <input type="text" class="form-control"  formControlName="author" >
             <label class="form-label">price</label>
             <input type="text" class="form-control"  formControlName="price" >
             <label class="form-label">image sourse</label>
             <input type="text" class="form-control"  formControlName="imgsrc" >
             <button type="submit" class="btn btn-success m-2">submit</button>
             <button type="reset" class="btn btn-warning m-1">reset</button>

            </form>
        </div>
    </div>
</div>