<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="accordion" id="accordionExample">
            <div class="lead " *ngFor="let x of tools |keyvalue">



               
                    <div class="accordion-item tools m-2">
                      <h2 class="accordion-header Header" >
                        <h1 type="button" data-bs-toggle="collapse" attr.data-bs-target=".{{x.key}}" aria-expanded="false" attr.aria-controls="{{x.key}}">
                    {{x.key}}
                        </h1>
                      </h2>
                      <div id="{{x.key}}" class="accordion-collapse {{x.key}} collapse"  data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{x.value}}
                        </div>
                      </div>
                    </div>
                  
                  </div>




        </div>
        </div>
        <div class="col-sm-6">
            <div id="parent">
                <div *ngFor="let x of images | keyvalue">
                      <div class="collapse {{x.key}}" data-bs-parent="#parent"  aria-expanded="false">
                            <img  src="{{x.value}}" alt="asim" class="=collapse img-fluid certificate">
                        </div>
            </div>
            </div>
        </div>
    </div>
</div>