<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<nav class="navbar navbar-expand-lg">
<div class="title">
    <b>Asim sheikh</b>
    <p>web developer / Educator</p>
</div>
<a class="navbar-toggler" href="#navbarNav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-hamburger fa-2x"></i>
</a>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        
        <li><a routerLink="../components/experience">Experience</a></li>
        <li><a routerLink="../components/tools">Tools</a></li>
        <li><a routerLink="../components/education">education</a></li>
        <li><a routerLink="../components/skills">skills</a></li>
        
      
    </ul>
    </div>
      
     
</nav>

<div class="dummy"></div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav> -->
 
